@charset "utf-8";
/* CSS Document */

body{
	background-image: url("../images/Background.png");
	Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}

h1{
color: #373737;
text-align: center;
}

.des{
	float:left;
	padding: 10px;
}


.navbar {
  overflow: hidden;
  background-color: grey;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: antiquewhite;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}
 
a:link {
	text-decoration: none;
	color:black;
}

a:visited {
	text-decoration: none;
	color:darkred;
}
footer{
	padding: 0.5em;
    color: white;
    background-color: dimgrey;
    clear: left;
	text-align: center;
}